@keyframes jump {
  80% {
    top: -5px; } }

@keyframes from-bottom-to-top {
  95% {
    opacity: 1; }
  100% {
    opacity: 0;
    top: -230vh; } }

@keyframes pass-through {
  0% {
    bottom: 100%;
    top: 0; }
  25% {
    bottom: 0; }
  75% {
    top: 100%; }
  100% {
    bottom: 0;
    top: 100%; } }

@keyframes rotating-sky {
  100% {
    transform: rotate(360deg); } }

@keyframes opac {
  50% {
    opacity: 0; } }

@keyframes loading {
  33% {
    content: '..'; }
  66% {
    content: '...'; } }

body {
  background: #000;
  margin: 0;
  overflow: hidden;
  color: #fecf01;
  text-shadow: 0 0.289vh #0d00a5;
  font-family: "Rubik Mono One"; }

canvas {
  z-index: -9001;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0; }

.notDisplay {
  display: none; }

p {
  user-select: none;
  z-index: -1;
  color: #fecf01;
  position: relative;
  width: 600px;
  text-align: justify;
  font-size: 34px;
  font-family: sans-serif;
  letter-spacing: 0.5vw;
  font-weight: bold;
  margin: auto;
  line-height: 2;
  text-shadow: 0 0.289vh #0d00a5;
  top: 150vh; }

.wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: -1; }

.sky {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100vw;
  height: 100vh;
  animation: rotating-sky 702s linear infinite; }
  .sky .star {
    position: absolute; }

#city {
  width: 100%;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  z-index: -1; }

.particles {
  transform: rotate(-45deg);
  position: absolute;
  width: 100vw;
  height: 300vh;
  top: -100vh;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 2s; }
  .particles .line {
    border: 1px solid #fff;
    position: absolute;
    animation: pass-through 3s infinite; }

#startCounter {
  position: fixed;
  top: 5vh;
  left: 5vw; }

#loadingScreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  place-items: center;
  z-index: 1000000;
  background: #00000088; }
  #loadingScreen .bar {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: auto;
    height: 50px;
    border: 1vh solid #fecf01; }
    #loadingScreen .bar #loadBar {
      height: 100%;
      width: 0%;
      background: #fecf01; }

#loadingScreen > div {
  width: 100%;
  text-align: center;
  line-height: 3; }
  #loadingScreen > div span:after {
    content: '.';
    animation: loading 2s linear infinite; }

#life {
  opacity: 0;
  transition: 2s;
  position: fixed;
  top: 5vh;
  left: 0;
  right: 0;
  text-align: center;
  display: block; }

#pauseScreen {
  user-select: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 10vw;
  background: #00000088;
  z-index: 1010101010;
  text-align: center;
  display: none;
  place-items: center;
  margin: auto; }

#seeTheStory {
  position: relative;
  padding: 2vh 2vh;
  border: 0.75vh solid #fecf01;
  text-align: center;
  display: block;
  top: 20vh;
  text-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  outline: none;
  font-family: "Rubik Mono One";
  color: #fecf01;
  border-radius: 10vh;
  margin: auto;
  font-size: 14px;
  box-shadow: 0 0.289vh 0 0 #0d00a5; }
  #seeTheStory:hover {
    cursor: pointer; }
  #seeTheStory:active {
    text-shadow: 0 0 #0d00a5;
    box-shadow: 0 0 #0d00a5;
    top: 20.289vh; }

#lastScore {
  position: fixed;
  border: 0;
  width: 100%;
  display: block;
  top: 95vh;
  text-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  outline: none;
  font-family: "Rubik Mono One";
  color: #fecf01;
  border-radius: 10vh;
  font-size: 14px;
  text-align: left;
  left: 5vh; }
  #lastScore:hover {
    cursor: pointer; }
  #lastScore:active {
    text-shadow: 0 0 #0d00a5;
    box-shadow: 0 0 #0d00a5;
    top: 95.289vh; }

#bestScore {
  position: fixed;
  border: 0;
  width: 100%;
  display: block;
  top: 90vh;
  text-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  outline: none;
  font-family: "Rubik Mono One";
  color: #fecf01;
  border-radius: 10vh;
  font-size: 14px;
  text-align: left;
  left: 5vh; }
  #bestScore:hover {
    cursor: pointer; }
  #bestScore:active {
    text-shadow: 0 0 #0d00a5;
    box-shadow: 0 0 #0d00a5;
    top: 90.289vh; }

#nextSongButton {
  position: fixed;
  right: 5vw;
  border: 0;
  font-size: 30px;
  top: 4vh;
  text-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  outline: none;
  font-family: "Rubik Mono One";
  color: #fecf01;
  border-radius: 10vh; }
  #nextSongButton:hover {
    cursor: pointer; }
  #nextSongButton:active {
    text-shadow: 0 0 #0d00a5;
    box-shadow: 0 0 #0d00a5;
    top: 4.289vh; }

#startScreen {
  position: relative;
  transition: 0.5s;
  opacity: 0;
  text-align: center;
  height: 50vh;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 1; }
  #startScreen #start {
    font-size: 50px;
    border: 12px solid #fecf01;
    position: relative;
    padding: 2.89vh 5.78vh;
    box-shadow: 0 0.289vh 0 0 #0d00a5;
    top: 14.45vh;
    text-shadow: 0 0.289vh #0d00a5;
    background: transparent;
    outline: none;
    font-family: "Rubik Mono One";
    color: #fecf01;
    border-radius: 10vh; }
    #startScreen #start:hover {
      cursor: pointer; }
    #startScreen #start:active {
      text-shadow: 0 0 #0d00a5;
      box-shadow: 0 0 #0d00a5;
      top: 14.739vh; }
    #startScreen #start span {
      position: relative;
      top: -0px;
      animation: jump 0.75s step-end infinite; }
      #startScreen #start span:nth-child(2) {
        animation-delay: 0.15s; }
      #startScreen #start span:nth-child(3) {
        animation-delay: 0.3s; }
      #startScreen #start span:nth-child(4) {
        animation-delay: 0.45s; }
      #startScreen #start span:last-child {
        animation-delay: 0.6s; }

.container {
  -webkit-perspective: 100;
  perspective: 100; }

.textWrapper {
  position: relative;
  top: -55vh;
  height: 150vh;
  overflow: hidden;
  transform: rotateX(5deg); }

#skipStory {
  position: fixed;
  top: 90vh;
  text-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  outline: none;
  font-family: "Rubik Mono One";
  color: #fecf01;
  border-radius: 10vh;
  font-size: 16px;
  padding: 1vh 3vh;
  box-shadow: 0 0.289vh #0d00a5;
  background: transparent;
  color: #fecf01;
  border: 0.75vh solid #fecf01;
  right: 2.5vw;
  visibility: hidden; }
  #skipStory:hover {
    cursor: pointer; }
  #skipStory:active {
    text-shadow: 0 0 #0d00a5;
    box-shadow: 0 0 #0d00a5;
    top: 90.289vh; }
