#startCounter {
  position: fixed;
  top: 5vh;
  left: 5vw;
}

#nextSongButton{
  position: fixed;
  right: 5vw;
  top: 5vh;
  border: 0;
  font-size: 30px;
  @include button(5vh);
}

#startScreen {
  transition: 2s;
  opacity: 1;
  text-align: center;
  height: 50vh;
  top: 0;
  bottom: 0;
  width: 100%;
  margin: auto;
  position: fixed;
  z-index: 1;
  #start {
    font-size: 50px;
    border: 12px solid $font-color;
    position: relative;
    padding: $global-measure * 10 $global-measure * 20;
    box-shadow: 0 $global-measure 0 0 $button-color;
    @include button($global-measure * 50);
    span {
      position: relative;
      top: -0px;
      animation: jump 5s * 0.15 step-end infinite;
      &:nth-child(2) {
        animation-delay: 1s * 0.15;
      }
      &:nth-child(3) {
        animation-delay: 2s * 0.15;
      }
      &:nth-child(4) {
        animation-delay: 3s * 0.15;
      }
      &:last-child {
        animation-delay: 4s * 0.15;
      }
    }
  }
}
